@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #333333;
}

.menu {
  background-color: #333333;
  width: 15vw;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  background-color: #333333;
  align-items: center;
}

.header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__text {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 3vw;
  font-size: 5vh;
  color: #ffffff;
  margin-right: 1vw;
}

.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-page-mini{
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
  align-items: center;
  width: 15vw;
  margin-left: 1vw;
}

.user-page-mini__photo{
  width: 5vw;
  height: 10vh;
  border-radius: 100%;
  object-fit: cover;
}

.user-page-mini__txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-page-mini__name{
  font-family: 'Roboto Slab' , serif;
  text-decoration: none;
  color: white;
  font-size: 4vw;
  font-size: 4vh;
  margin-left: 0.5vw;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 5vh;
}

.navbar-menu__item {
  font-family: 'Roboto Slab' , serif;
  font-size: 4vw;
  font-size: 4vh;
  text-decoration: none;
  color: #ffffff;
}

.navbar-menu__item:hover {
  border-color: #ffffff;
  border-bottom: 0.2vw;
  border-bottom-style: solid;
  transition-duration: 1s;
}

main{
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/*user page*/

.user-page{
  display: flex;
  margin-top: 10vh;
  margin-bottom: 8vh;
}

.user-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2vw;
  margin-top: 2vh;
}

.user-photo{
  width: 40vw;
  height: 72vh;  
  object-fit: cover;
}

.user-info__text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.user-info__name{
  font-family: 'Roboto Slab' , serif;
  font-size: 9vw;
  font-size: 9vh;
  text-decoration: none;
  color: black; 
}

.user-info__status{
  font-family: 'Roboto Slab' , serif;
  font-size: 6vw;
  font-size: 6vh;
  text-decoration: none;
  color: black;
}

.user-info__type{
  font-family: 'Roboto Slab' , serif;
  font-size: 4.5vw;
  font-size: 4.5vh;
  text-decoration: none;
  color: gray;
}

.user-info__value{  
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 4vw;
  font-size: 4vh;
  text-decoration: none;
  color: black;
}

/* news */

.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.writer-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
  width: 50vw;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2vh;
}

.post-form__input {
  height: 15vh;
  width: 50vw;
  margin-bottom: 4vh;

  font-family: 'Roboto Slab' , serif;
  font-size: 3vw;
  font-size: 3vh;
}

.post-form__btn {
  width: 10vw;
  height: 6vh;
  border: 1px solid #000000; 
  background: #333333;

  font-family: 'Roboto Slab' , serif;
  font-size: 3vw;
  font-size: 3vh;

  color: #ffffff;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.post-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content__img{
  width: 40vw;
  height: 60vh;
  object-fit: cover;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.post-content__text{
  font-family: 'Roboto Slab' , serif;
  font-size: 3.5vw;
  font-size: 3.5vh;
  text-decoration: none;
  color:black; 
  margin-top: 1vh;
  margin-bottom: 2vh;
}

/* users page */

.users-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.users-page__img{
  width: 6vw;
  height: 12vh;
  border-radius: 100%;
  object-fit: cover;
}

.users-page__name{
  font-family: 'Roboto Slab' , serif;
  font-size: 5vw;
  font-size: 5vh;
  text-decoration: none;
  color:black; 
  margin-left: 2vw;
}
 

/* friends */

.friends-list{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.friend{
  display: flex;
  align-items: center;
  margin-bottom: 8vh;
}

.friend__img{
  width: 14vw;
  height: 30vh;
  border-radius: 100%;
  object-fit: cover;
}

.friend-active{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4vw;
}

.friend-active__txt{
  font-family: 'Roboto Slab' , serif;
  font-size: 4.5vw;
  font-size: 4.5vh;
  text-decoration: none;
  color:black; 
}

.friend-active__btn{
  width: 10vw;
  height: 6vh;
  border: 1px solid #000000; 
  background: #333333;
  margin-left: 20vw;

  font-family: 'Roboto Slab' , serif;
  font-size: 3vw;
  font-size: 3vh;

  color: #ffffff;
}

/* dialogs */

.dialogs {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog-with-user {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 7vh;
  transition: all 1s
}

.open {
  background-color: peachpuff;
}

.dialog__user {
  width: 12vw;
  display: flex;
  align-items: flex-start;
  margin-left: 1vw;
}

.dialog__message {
  width: 30vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 3vh;
  padding-top: 3vh;
  font-family: 'Roboto Slab' , serif;
  font-size: 4vw;
  font-size: 4vh;
  text-decoration: none;
  color:black;
  margin-top: 2vh;
  margin-left: 8vw;
}

.not-read {
  background-color: gray;
}

.message-srory {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: center;
}

.messages-story {
  margin-left: 2vw;
}

.messages {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 50vw;
}

.message__user{
  width: 10vw;
  display: flex;
  align-items: flex-start;
}

.message__text {
  width: 20vw;
  padding-left: 1vw;
  padding-right: 7vw;
  padding-bottom: 4vh;
  padding-top: 4vh;
  font-family: 'Roboto Slab' , serif;
  font-size: 4vw;
  font-size: 4vh;
  text-decoration: none;
  color:black;
  background-color: peachpuff;
  border-radius: 1vw;
  margin-left: 9vw;
  margin-top: 2vh;
}

.message__send {
   margin-top: 4vh;
   margin-bottom: 4vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
}

.send__inp {
  height: 6vh;
  width: 35vw;
  font-family: 'Roboto Slab' , serif;
  font-size: 3vw;
  font-size: 3vh; 
}

.send__btn{
  width: 10vw;
  height: 6vh;
  margin-left: 2vw;
  border: 1px solid #000000; 
  background: #333333;

  font-family: 'Roboto Slab' , serif;
  font-size: 3vw;
  font-size: 3vh;

  color: #ffffff;
}