@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.menu {
  background-color: #333333;
  width: 15vw;
  height: 150vw;
}

.header {
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  align-items: flex-start;
}

.header__logo{
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__text {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 42px;
  color: #ffffff;
}

.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-page-mini{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: 10px;
}

.user-page-mini__photo{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin: 5px;
  margin-left: 25px;
}

.user-page-mini__name{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 38px;
  text-decoration: none;
  color: white; 
  margin: 10px;
  margin-left: 25px;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-menu__item {
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
}

.navbar-menu__item:hover {
  border-color: #ffffff;
  border-bottom: 6px;
  border-bottom-style: solid;
  transition-timing-function: ease;
  transition-duration: 5s;
}

main{
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/*user page*/

.user-page{
  display: flex;
  margin-top: 40px;
}

.user-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-info__photo{
  width: 300px;
  height: 450px;  
  object-fit: cover;
  margin: 5px;
}

.user-info__text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 15px;
  margin-top: 5px;
}

.user-info__name{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 64px;
  text-decoration: none;
  color: black; 
}

.user-info__status{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 32px;
  text-decoration: none;
  color: black;
}

.user-info__type{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color: gray;
}

.user-info__value{  
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: black;
}

/* news */

.posts {
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: flex-start;
}


.writer-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  width: 50vw;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.post-form__input {
  height: 103px;
  width: 50vw;
  margin-bottom: 30px;

  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 18px;
}

.post-form__btn {
  width: 156px;
  height: 40px;
  border: 1px solid #000000; 
  background: #333333;
  margin-left: 267px;

  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 18px;

  color: #ffffff;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 10px;
}

.post-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content__img{
  width: 900px;
  height: 700px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-content__text{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color:black; 
  margin-top: 20px;
  margin-bottom: 20px;
}

/* users page */

.users-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.users-page__img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  margin: 5px;
}

.users-page__name{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color:black; 
  margin-left: 20px;
}
 

/* friends */

.friends-list{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.friend{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.friend__img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin: 5px;
}

.friend-active{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
}

.friend-active__txt{
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color:black; 
  margin: 20px;
}

.friend-active__btn{
  width: 156px;
  height: 40px;
  border: 1px solid #000000; 
  background: #333333;
  margin-left: 267px;

  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 18px;

  color: #ffffff;
}

/* dialogs */

.dialogs {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog-with-user {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 1s
}

.open {
  background-color: peachpuff;
}

.dialog__user {
  width: 12vw;
  display: flex;
  align-items: flex-start;
}

.dialog__message {
  width: 38vw;
  padding: 20px;
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color:black; 
  margin: 20px;
}

.not-read {
  background-color: gray;
}

.message-srory {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: center;
}

.messages {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 50vw;
}

.message__user{
  width: 10vw;
  display: flex;
  align-items: flex-start;
}

.message__text {
  width: 30vw;
  padding: 30px;
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color:black; 
  margin: 15px;
  background-color: peachpuff;
  border-radius: 10px;
}

.message__send {
   margin-top: 10px;
   margin-bottom: 40px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
}

.send__inp {
  height: 40px;
  width: 35vw;
  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 18px; 
}

.send__btn{
  width: 156px;
  height: 40px;
  border: 1px solid #000000; 
  background: #333333;
  margin-left: 45px;

  font-family: 'Roboto Slab' , serif;
  font-weight: 300;
  font-size: 18px;

  color: #ffffff;
}